.accountNavbar{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: linear-gradient(15deg, #f09c1d, #f4c003);
    border-radius: 1em;

    /*
    position: sticky;
    top: 210px;
    */
}
.accountNavbar h1{
    text-align: center;
    color: blanchedalmond;
    font-size: 2.5rem;
    text-shadow: -1px -1px black;
}
.accountNavbar .navbarLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    text-decoration: none;
    outline: none;

    margin: 1em 0;
}
.accountNavbar .navbarLink img{
    width: 30px;
    margin-right: 0.5em;
}
.accountNavbar .navbarLink p{
    font-size: 1.5em;
    color: blanchedalmond;
    font-weight: 600;
    text-shadow: -1px -1px black;

    margin: 0;
}
.accountNavbar .navbarLink p:hover{
    color: indigo;
    text-shadow: none;
}