.loginDataInput{
    width: 100%;
    display: flex;
    align-items: center;

    margin: 1em 0;
}
.loginDataInput img{
    width: 30px;
    position: absolute;
    padding: 0 1em;
}
.loginDataInput input{
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;

    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border-radius: 0.5em;

    padding: 0.5em 2.3em;

    outline: none;

}