.credentialInput{
    display: flex;
    margin: 2em 0;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.credentialInput img{
    position: absolute;
    left: 0;

    width: 30px;
    padding: 0 1em;
}
.credentialInput input{
    font-size: 2rem;
    padding-left: 2em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.2em;
}