.footer{
    background-color: rgb(34,34,34);
    padding: 3em 0;
}
.footer img{
    width: 40px;
    filter: invert(1);
}
.footer .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin: 2em 0;
}
.footer .wrapper p{
    color: whitesmoke;
    margin: 0 2em;
}