.guideActiveOffers{

    height: 100%;
}
.guideActiveOffers .header-tab{
    background-color: orange;
    padding: 1em 0;

    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
}
.guideActiveOffers .header-tab label{
    color: #222222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 0;
}

.guideActiveOffers .guide-active-tour-panel{
    background-color: #222222;
    margin: 1em 0;
    padding: 1em 1em;
    border-radius: 1em;

    min-height: 300px;
    transition-duration: 0.4s;
    cursor: pointer;

}
.guideActiveOffers .guide-active-tour-panel:hover{
    background-color: dodgerblue;

}

.guideActiveOffers .guide-active-tour-panel h1{
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-size: 2rem;
}
.guideActiveOffers .guide-active-tour-panel img{
    border-radius: 0.5em;

}
.guideActiveOffers .guide-active-tour-panel p{
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1em 0;
}