.guideNewTour .cont{
    border-radius: 0.5em;
    background-image: linear-gradient(15deg, white, whitesmoke, white);
    margin-bottom: 10em;
}
.guideNewTour h1{
    font-size: 3rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;

    width: 100%;
    text-align: center;
    border-bottom-right-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    margin-bottom: 2em;
    padding: 0.2em 0;
    background-color: orange;
    color: whitesmoke;
    text-shadow: -1px -1px black;
}
.guideNewTour h2{
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}
.guideNewTour h3{
    font-size: 1.5rem;
    margin: 0.5em auto;
}
.guideNewTour .inputGroup{
    margin: 0.7em 0;
}
.guideNewTour .inputGroup p{
    margin: 0.1em 0;
    padding: 0;
    font-size: 1.2rem;
}

.guideNewTour .inputGroup input[type=number]{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
}
.guideNewTour .inputGroup input[type=file]{
    width: 100%;
}

.guideNewTour #plan-input-header{
    margin: 0;
    margin-top: 3rem;
    text-align: center;
}
.guideNewTour .table-container{
    width: 100%;
    border: 2px solid #d4d3d3;
    border-radius: 5px;
    max-height: 250px;
    min-height: 250px;
    overflow-y: auto;
    overflow-x: hidden;
}
.guideNewTour .table-container .table-container-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: #222222;
}
.guideNewTour .table-container .plan-row{
    cursor: pointer;
    user-select: none;
    border-radius: 0.5em;
}
.guideNewTour .table-container .plan-row:hover{
    background-color: rgba(1, 110, 210, 0.5);
}
.guideNewTour .table-container .plan-row-button{
    width: 30%;
}

.guideNewTour .price-list{
    width: 100%;
    height: 100%;
    max-height: 150px;
    border-radius: 0.5em;
    border: solid 1px lightgrey;

    overflow-y: auto;
}
.guideNewTour .price-list .price-list-element{
    color: whitesmoke;
    text-shadow: -1px -0.5px black;
    padding: 0.3em 1em;

    user-select: none;
    text-align: center;
    font-family: "Lora", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    border-bottom: 1px solid black;
}
.guideNewTour .price-list .price-list-element:hover{
    background-color: rgb(34,34,34) !important;
}

.guideNewTour .image-list{
    max-height: 250px;
    border-radius: 0.5em;
    border: solid 1px lightgrey;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #e8e8e8;
}
.guideNewTour .image-list .image-list-element{
    width: 100%;

    max-width: 100%;
    background-image: linear-gradient(15deg, #3095ff, #0c88fd);
    border-bottom: 1px solid black;

    padding: 0.5em 1em;
    color: whitesmoke;
    text-shadow: -1px -1px black;
    text-align: center;
    word-wrap: break-word;
    user-select: none;

}
.guideNewTour .image-list .image-list-element:hover{
    background-image: linear-gradient(15deg, red, darkred);
}




@media (max-width: 900px) {
    .guideNewTour .cont{
        background-color: #ffffff;
        border-radius: unset;
        box-shadow: unset;
    }

    .guideNewTour h1{
        font-size: 2.5rem;
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        border-radius: unset;
    }
    .guideNewTour h2{
        font-size: 1.5rem;
    }

    .guideNewTour .inputGroup{
        margin: 0.7em 0;
    }
    .guideNewTour .inputGroup p{
        margin: 0.1em 0;
        padding: 0;
        font-size: 1.2rem;
    }
    .guideNewTour .inputGroup input{
        border-radius: 0.5em;
        border:none;
        outline: none;

        font-size: 1.1rem;
        padding: 0.2em 0.5em;

        width: 100%;
        background-color: #dadada;
        border: 2px solid rgba(1,1,1,0);
    }
    .guideNewTour .inputGroup input:focus{
        background-color: whitesmoke;
        border-color: #187bcd;
    }
    .guideNewTour .inputGroup input[type=number]{
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
    }
    .guideNewTour .inputGroup input[type=file]{
        width: 100%;
    }
}