.login{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(15deg, #e39207, #f8c518);

    display: flex;
    justify-content: center;
    align-items: center;
}
.loginPane{
    width: 20%;
    background-image: linear-gradient(15deg, rgba(0, 41, 234, 0.7), rgba(47, 156, 252, 0.7));
    border-radius: 2em;

    padding: 2em 2em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}
.loginPane .exit{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 30px;
}
.loginPane .exit:hover{
    filter: invert(1);
}
.loginPane .exit:active{
    filter: drop-shadow(0px 0px 10px white);
}
.loginPane h1{
    text-align: center;
    font-size: 3rem;
    color: blanchedalmond;
    text-shadow: -1px -1px black;


}
.loginPane .inputWrapper{
    display: flex;
    flex-direction: column;
}
.loginPane button{
    font-size: 2rem;
    color: blanchedalmond;
    text-shadow: -1px -1px black;

    background-image: linear-gradient(15deg, #e39207, #f8c518);
    outline: none;
    border: none;
    border-radius: 0.2em;
    width: 90%;
    padding: 0.5em;

    margin: 1em 0;
}
.loginPane button:hover{
    background-image: linear-gradient(indigo, indigo);
}
.loginPane button:active{
    box-shadow: 0px 0px 10px 1px white;
}
