.messages{
    margin-top: 5em;
}
.messages .col-1{
    width: 50%;
    height: 900px;
    background-color: dodgerblue;
    margin: 0 auto;

    border-radius: 5%;
    padding: 1em 1em;
}
.messages h1, h3{
    text-align: center;
}
