
.navbarLink{
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-shadow: -1px -1px black;

    user-select: none;

    text-decoration: none;
    outline: none;
    color: white;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0 1em;
}
.navbarLink:hover{
    color: indigo;
    text-shadow: none;
}

.navbarIcon{
    width: 30px;
    height: 30px;
    margin: 0 0.5em;
}
