.navbarComponent{
    background-color: rgb(34,34,34);

    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.navbarComponent a{
    outline: none;
    text-decoration: none;
    color: whitesmoke;
    font-size: 1.1rem;
}

.navbarComponent .white{
    color: whitesmoke;
}
.navbarComponent .black{
    color: black;
}
.navbarComponent a:hover span{
    color: dodgerblue;
}

@media (max-width: 900px) {

    .navbarComponent .black:active{
        color: black;
    }
}