.newMessage{
    min-height: 100vh;
}
.newMessage .cont{
    background-color: whitesmoke;

    box-shadow: 0px 0px 10px 1px black;
    border-radius: 5px;
}
.newMessage .contacts-box{
    width: 100%;
    margin: 1em 0;

    max-height: 255px;
    min-height: 1px;

    overflow-y: auto;

    border-radius: 5px;

    box-shadow: 0 0  5px 0px black;
}
.newMessage .contact{
    background-color: #ffffff;

    padding: 0.3em 0.8em;

    font-size: 1.1rem;
    width: 100%;
    text-align: left;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    user-select: none;
    cursor: pointer;
}
.newMessage .contact:hover{
    background-color: #187bcd;
}
.newMessage .contact:hover img{
    visibility: visible;
}
.newMessage .contact:hover p{
    color: white;
}
.newMessage .contact img{
    width: 15px;
    visibility: hidden;
    filter: invert(1);
}
.newMessage .contact img:hover{
    filter: unset;
}
.newMessage .contact img:active{
    filter: drop-shadow(0px 0px 10px white);
}
.newMessage .contact p{
    margin: 0;
    font-size: 1.1rem;
}