.sideNavbar{
    margin: 0em 0;
    padding: 4em;

    border-top-right-radius: 0em;
    border-bottom-right-radius: 0em;

    /*border-top: solid #d36903 5px;*/
    background-image: linear-gradient(15deg, #192841, #152238);
    background-image: linear-gradient(15deg, #1167b1, #187bcd);

    height: 100%;

}
.sideNavbar h1{
    font-size: 1.6rem;
    font-family: 'Lora', sans-serif;
    font-weight: 600;
    color: whitesmoke;
    text-shadow: 1px 1px black;
    text-align: center;
    width: 100%;

    margin-bottom: 2em;
    box-sizing: border-box;
}

.list-group-item.active {
    z-index: 2;
    color: whitesmoke;



    background-color: rgb(34,34,34) !important;
    border-color: rgb(34,34,34) !important;
    outline: none !important;
}

@media (max-width: 900px){
    .sideNavbar{
        margin: 0em 0;
        padding: 4em;

        border-top-right-radius: 0em;
        border-bottom-right-radius: 0em;

        border-top: unset;

        position: static;
        top: unset;
    }
    .sideNavbar h1{
        font-size: 1.6rem;
        font-family: 'Lora', sans-serif;
        font-weight: 600;
        color: whitesmoke;
        text-shadow: 1px 1px black;
        text-align: center;
        width: 100%;

        margin-bottom: 2em;
        box-sizing: border-box;
    }

}

