.tourDetails{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.tourDetails .details-body{
    background-color: whitesmoke;
    margin-top: 2em;
    margin-bottom: 2em;
    border-radius: 1em;
    box-shadow: 0 0 20px 5px rgb(34,34,34);
}
.tourDetails h1{
    text-align: center;
    color: rgb(34,34,34);
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    margin: 0 0;
}
.tourDetails .description{
    text-align: center;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'Source Sans Pro', sans-serif;
}
.tourDetails .details-main-img{
    border-radius: 1em;
    max-width: 90%;
    margin-top: 3em;
}

.tourDetails .info-panel{
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    background-image: linear-gradient(15deg, rgb(34,34,34), rgb(73, 73, 73));
    border-radius: 1em;
}

.tourDetails h2{
    background-color: rgb(34,34,34);
    color: whitesmoke;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
    border-radius: 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.tourDetails .tour-plan-point{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color:whitesmoke;



    background-image: linear-gradient(15deg, rgb(34,34,34), rgb(73, 73, 73));
    padding: 1em 1em;
    margin: 0.1em;

    border-radius: 0.5em;
}