.guideActiveOfferMessenger {
    margin-left: -15px;
    margin-right: -15px;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    animation: dropdown 0.3s linear;
}




.guideActiveOfferMessenger .messenger-header{
    margin: 0em 0;
    margin-top: 3em;

    background-image: linear-gradient(15deg, #222222, #222222);
    color: whitesmoke;
    padding: 1em 1em;
}
.guideActiveOfferMessenger .messenger-close-icon:hover{
    color: #f0ad4e
}
.guideActiveOfferMessenger .messenger-close-icon:active{
    filter: drop-shadow(0 0 10px whitesmoke);
}

.guideActiveOfferMessenger .messenger-header p{
    margin: 0 0;
    padding: 0 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
}

.guideActiveOfferMessenger .messenger-body{
    padding-left: 2em;
    padding-right: 2em;
    background-color: whitesmoke;
    overflow-y: auto;
    max-height: 70vh;

    border: 5px solid #222222;
}

.guideActiveOfferMessenger .message-input-box{
    margin: 0;
    margin-top: 3em;
    background-color: #222222;
    border-radius: 1em;
    padding: 2em;
}


@media (max-width: 900px){

}