.guideActiveOfferMessages{

}
.guideActiveOfferMessages .list-header{
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: #222222;
    color: whitesmoke;
    font-size: 2.1rem;
    margin: 0 0;
    padding: 0.2em 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.guideActiveOfferMessages .loading-circle-container{
    min-height: 250px;
}

.guideActiveOfferMessages .threads-not-found {
    border: 5px solid #222222;
    padding: 3em 0;
}
.guideActiveOfferMessages .threads-not-found h1{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 1em;
}

.guideActiveOfferMessages .table-responsive-sm{
    width: 100%;
}

@media (max-width: 900px) {
    .guideActiveOfferMessages .list-header{
      border-radius: unset;
}

}