.guideActiveOfferMessages {

}

.guideActiveOfferMessages .list-header {
    width: 100%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    background-color: #222222;
    color: whitesmoke;
    font-size: 2.1rem;
    margin: 0 0;
    padding: 0.2em 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

.guideActiveOfferMessages .loading-circle-container {
    min-height: 250px;
}


.guideActiveOfferMessages .table-responsive-sm {
    width: 100%;
}

@media (max-width: 900px) {
    .guideActiveOfferMessages .list-header {
        border-radius: unset;
    }

}