.home .recent-tours-header{
    text-align: center;
    color: whitesmoke;
    font-family: 'Lora', sans-serif;

    width: 100%;
    background-color: rgb(34,34,34);

    margin: 0;
    padding: 2em 0;
}
