.messages {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.messages .control-panel {
    background-color: orange;
    padding: 1em 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;

    display: flex;
}

.messages .thread-list-header {
    background-color: #222222;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;

    padding: 0.5em 0;
}

.messages .thread-list-header h1 {
    color: whitesmoke;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 2.1rem;

    margin: 0 auto;
    padding: 0;
}

.messages .thread-list .table-responsive-sm {
    width: 100%;
}


.messages .thread-list td {
    vertical-align: middle;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1rem;

    cursor: pointer;
}

.messages .thread-list button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    color: whitesmoke;
}

.messages .loading-box {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 5px solid #222222;
}