.paymentSuccess{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.paymentSuccess h1{
    color: #222222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}
.paymentSuccess h2{
    color: #222222;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.paymentSuccess h1{
    background: -webkit-linear-gradient(45deg, #81e8e1, #04a098);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.paymentSuccess h2{
    margin-top: 0.1em;
    font-size: 1.4rem;
}