.userPaymentHistory{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.userPaymentHistory .header{
    background-color: #222222;
    padding: 1em 0;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    border-radius: 0.5em;
    margin-top: 1em;
}
.userPaymentHistory h1{
    font-size: 2em;
    /*
    background: -webkit-linear-gradient(15deg, orange, #fc672f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    */
    color: orange;
}